build/*
Deployment/**.dll
Deployment/**.lib
Deployment/**.pdb
Deployment/**.dll
Deployment/**.exe
**.exe
**.lnk
**.sln
# Deployment/assets
# !Deployment/assets/**
# Deployment/fonts
# !Deployment/fonts/**
# Deployment/audio
# !Deployment/audio/**
# !Deployment/levels
# !Deployment/levels/**
# !Deployment/Box2D
# !Deployment/Box2D/**
# !Deployment/keepme